<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zxd1997.dota2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.SearchActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MatchActivity"
            android:label="@string/title_activity_match"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PlayerActivity"
            android:label="@string/title_activity_player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PeerActivity"
            android:label="@string/title_activity_peer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MyHeroActivity"
            android:label="@string/title_activity_my_hero"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HeroActivity"
            android:label="@string/title_activity_hero"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.SearchActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ItemActivity"
            android:label="@string/title_activity_item"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>